@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


:root{
 --default_boxshadow : 0px 0px 10px 0px rgba(0,0,0,0.5);
}


body{
    font-family: 'Dancing Script', cursive;
    position: relative;
    background-image: url("../img/argent.jpg");
}

fieldset{
    margin-top: 10% !important;
    padding: 5%;
    width: 20%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--default_boxshadow);
}

input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    width: 250px;
    padding-top: 1%;
    padding-bottom: 1%;
}
button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: white;
    background-color: rgb(104, 104, 104);
    font-variant: small-caps;
    width: 250px;
    padding: 1%;
}

img{
  position: absolute;
  right: 30%;
  bottom : -10%;
}

h1{
    width: 40%;
    font-size: 40px;
    transition: all 2s ease-in;

}

h1:hover{
  
    background-color: rgb(226, 203, 152);
    animation-name: moveme;
    animation-duration: 2s;
    transition: all 2s ease-in;
}

@keyframes moveme {
    from { width: 0%; }
    to   { width: 40%; }
  }
